@charset "utf-8";
/* CSS Document */


#cn-wrapper{ 
	position:fixed;
	z-index:99;
	left:0;
	bottom:0;
	width:100%;
	background-color:#333;
	background-color:rgba(0,0,0,0.7);
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#cn-inner{
	text-align:left;
	max-width:520px; 
	padding:8px 0;
	line-height:24px;
	margin:0 auto; 
	position:relative;
	overflow:hidden;
}
#cn-inner a{ 
	color:#CCC;
	text-decoration:none;
}
#cn-inner a:hover{ text-decoration:underline; }


a#cn-accept{
	display:inline-block;
	float:right;
	color:#FFF;
	padding:1px 12px;
	margin:0 0 0 12px;
	text-decoration:none;
	font-weight:bold;
	border-radius:4px;
	box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
	text-shadow: 0 -1px 0 #000000;
	background-color:#009933;
	background-image:url("data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpsjksKwDAQQsVj9P5nnD9MSCgktNk8REFFdz+sKjAzwYh44e6gmf2gqqCInGrj5n2CpW7Na3I/mIeGAAMAcgNdZcin0lcAAAAASUVORK5CYII=");
	background-repeat:repeat-x;
	background-position:0 50%;
}
a#cn-accept:hover{ 
	background-color:#00892e;
	text-decoration:none;
}

